.navP {
    background-color: #291458;
    top: 0; left: 0;
    z-index: 20;
    width: 100%;
    height: 80px;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navP ul li a {
    text-decoration: none;
    display: block;
	color: rgba(255, 255, 255, .9);
}

.navP ul {
    display: flex;
    font-size: 17px;
}

.navP ul li {
    display: flex;
    list-style: none;
    padding: 10px 30px;
    padding-left: 50px;
    margin-right: 60px;
    margin-top: 15px;
}  

.header_button {
    border: 2px solid white;
    border-radius: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #291458;
    padding: 20px 15px;
    margin-right: 80px;
    margin-top: 17px;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.img_nav {
    width: 400px;
    height: 250px;
    margin-bottom: -100px;
}

.p1 {
    color: #291458;
    padding: 100px;
    margin-top: 60px;
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    margin-left: -5px;
}

span {
    color: #00BF63;
}

.p2 {
    color: #000;
    letter-spacing: 0.5px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    margin-top: -100px;
    padding-top: 0px;

}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00BF63;
    color: black;
    border-radius: 5px;
    border-color: #00BF63;
    border-style: hidden;
    padding: 10px;
    margin-left: 100px;
    margin-top: 30px;
    font-weight: bold;
    height: 50px;
}

.img_header {
    margin-left: 800px;
    margin-top: -550px;
    width: 600px;
    height: 600px;
}

.p3 {
    color: #00BF63;
    font-weight: bold;
    font-size: 60px;
    margin-top: -500px;
    margin-left: 800px;
}

.p4 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #291458;
    font-size: 20px;
    margin-left: 600px;
    margin-top: 20px;
    padding-top: 20px;
}

.img_header1 {
    margin-left: 100px;
    height: 500px;
    width: 600px;
    margin-top: 120px;
}

.img_header2 {
    margin-left: 800px;
    margin-top: 65px;
    margin-bottom: 120px;
    height: 650px;
    width: 650px;
}

.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
    margin-top: -650px;
    margin-left: 50px;
}

.section2 {
    display: flex;
    align-items: flex-start;
    justify-content: baseline;
    margin-top: 0px;
    margin-left: 100px;
}

.div1 {
    background-color: #C7FFE4;
    color: #291458;
    width: 210px;
    height: 210px;
    border-radius: 30px;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 10px;
    letter-spacing: 0.5px;
}

.div2 {
    background-color: #C7FFE4;
    color: #291458;
    width: 210px;
    height: 210px;
    margin-left: 90px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 30px;
    letter-spacing: 0.5px;
}

.div3 {
    background-color: #C7FFE4;
    color: #291458;
    width: 210px;
    height: 210px;
    padding-top: 10px;
    border-radius: 30px;
    letter-spacing: 0.5px;
    margin-left: 50px;
    padding-left: 18px;
}

.div4 {
        background-color: #C7FFE4;
        color: #291458;
        width: 210px;
        height: 210px;
        padding-top: 10px;
        border-radius: 30px;
        letter-spacing: 0.5px;
        margin-left: 90px;
        padding-left: 20px;
}

.p1section1 {
    font-size: 19px;
    font-weight: bolder;
}

.p2section1 {
    margin-top: -10px;
}

.p3section1 {
    font-size: 19px;
    font-weight: bolder;
}

.p4section1 {
    margin-top: -10px;
}

.p1section2 {
    font-size: 19px;
    font-weight: bolder;
}

.p2section2 {
    margin-top: -10px;
}

.p3section2 {
    font-size: 19px;
    font-weight: bolder;
}

.p4section2 {
    margin-top: 0px;
}

.img_section {
    margin-left: 380px;
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #291458;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 0px;
}